*{
  /* border:1px solid red; */
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.card{
  width:250px
}

.brand-check{
  width:18px;
  cursor: pointer;
}

.list-group-item{
  padding: 0.7rem !important;
}

.sort-btn{
  width:20px !important;
  padding:1.5rem;
}

.layout-mode{
  width:80px;
  height:28px;
  border:2px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
 }
 
.active .layout-box{
  background-color: #1e90ff;
}

.layout-wide{
  width: 90px;
}

.layout-box{
  width:13px;
  height:13px;
  padding: 3px;
  background-color: gray;
}

.product-image{
  width:225px !important;
  height:325px !important;
}

.product-cover{
  width:425px;
  height:600px;
}

.product-container:hover button{
   display: block !important;
   transition-property: all;
   transition-duration: 1s;
}

.product-container:hover{
  background-color: white;
  cursor: pointer;
}

.product-container{
  height:670px;
}

.btn-lightblue{
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.text-yellow{
  color: #ffc107;
}

.cart-card{
  display: flex !important;
}